<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Doctor Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ONS Physiotherapy</a>
          </li>
        </ul>
        <button class="btn btn-outline-success" type="submit" [routerLink]="['/doc-dash']">Back</button>
        <button class="btn btn-outline-success ms-2" type="button">Logout</button>
      </div>
    </div>
  </nav>

<div class=" container">
    <h2 class = "text-center">Add a new patient</h2>
    <form (ngSubmit)="onSubmit()">
        <div class = "form-group">
            <label>Name</label>
            <input type="text" id=" name" placeholder="Enter name" class="form-control" [(ngModel)]="patient.name" name="name">
        </div>
        <div class = "form-group">
            <label>Age</label>
            <input type="text" id=" age" placeholder="Enter age" class="form-control" [(ngModel)]="patient.age" name="age">
        </div>
        <div class = "form-group">
            <label>Blood Group</label>
            <input type="text" id=" blood_group" placeholder="Enter blood_group" class="form-control" [(ngModel)]="patient.blood_group" name="blood_group">
        </div>
        <div class = "form-group">
            <label>Prescription</label>
            <input type="text" id=" prescription" placeholder="Enter prescription" class="form-control" [(ngModel)]="patient.prescription" name="prescription">
        </div>
        <div class = "form-group">
            <label>Urgency</label>
            <input type="text" id=" urgency" placeholder="Enter urgency" class="form-control" [(ngModel)]="patient.urgency" name="urgency">
        </div>
        <div class = "form-group">
            <label>Dose</label>
            <input type="text" id=" dose" placeholder="Enter dose" class="form-control" [(ngModel)]="patient.dose" name="dose">
        </div>
        <button><a [routerLink]="['/patient']">Back</a></button>        
        <button type="submit" class="btn btn-success btn-lg mt-3">Submit Patient</button>
    </form>
</div>

<!-- <td>{{ patient.id }}</td>
<td>{{ patient.name }}</td>
<td>{{ patient.age }}</td>
<td>{{ patient.blood_group }}</td>
<td>{{ patient.prescription }}</td>
<td>{{ patient.urgency }}</td>
<td>{{ patient.dose }}</td> -->
