<div class="home-container">
    <h1>Welcome to Hospital Management System</h1>
    <p>Manage appointments, medicines, and more efficiently!</p>
  
    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="/appointment">
        List of Appointments
      </button>
  
      <button mat-raised-button color="accent" routerLink="/create-appointment">
        Add Appointment
      </button>
  
      <button mat-raised-button color="primary" routerLink="/medicine">
        List of Medicines
      </button>
  
      <button mat-raised-button color="accent" routerLink="/create-medicine">
        Add Medicine
      </button>
    </div>
  </div>

