<div class="header">
  <div class="header-title">
    <h1>Curewell Solutions</h1>
  </div>
  <div class="header-buttons">
    <button mat-raised-button color="primary" routerLink="/doc-login">Login as Doctor</button>
    <button mat-raised-button color="accent" routerLink="/admin-login">Login as Admin</button>
  </div>
</div>

<div class="home-container">
  <div class="home-content">
    <h2>Welcome to Hospital Management System</h2>
    <p>Manage appointments, medicines, and more efficiently!</p>
    <div class="button-container">
      <button mat-raised-button color="primary" routerLink="/appointment">List of Appointments</button>
      <button mat-raised-button color="accent" routerLink="/create-appointment">Add Appointment</button>
      <button mat-raised-button color="primary" routerLink="/medicine">List of Medicines</button>
      <button mat-raised-button color="accent" routerLink="/create-medicine">Add Medicine</button>
    </div>
  </div>
</div>
